@import 'tailwindcss';

@theme {
	--breakpoint-xs: 480px;
}

@layer base {
	html {
		font-family: 'Work Sans Variable', sans-serif;
		background-color: theme('colors.stone.50');
		color: theme('colors.stone.700');
	}

	* {
		outline: 0px solid theme('colors.amber.600');
		outline-offset: 4px;
	}

	*:focus-visible {
		outline: 2px solid theme('colors.amber.600');
	}
}
